#PCMCIA Drivers
CONFIG_WPA=y
CONFIG_PCMCIA_502A=y
CONFIG_PCMCIA_3COM=y
CONFIG_PCMCIA_502AD=y
CONFIG_PCMCIA_502AE=y
CONFIG_PCMCIA_504=y
CONFIG_PCMCIA_504_2958=y
CONFIG_PCMCIA_504A_2958=y

CONFIG_PCI_506=y

#USB Drivers
CONFIG_USB_503A_RFMD=y
CONFIG_USB_505=y
CONFIG_USB_505A=y
CONFIG_USB_505_2958=y

#Applications Configuration
CONFIG_CMD_LINE=y
CONFIG_Winter=y
CONFIG_XAPP=y

#DEBUG INFORMATION
#DEBUG=D
#CONFIG_MODVERSIONS=y
HAS_FORMS = y
PCMCIA_CONFIG = /etc/pcmcia
USB_CONFIG = /etc/hotplug


